{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block main %}
<h1 class="col-12">A propos de l'Ehpad Discount</h1>
<h2 class="col-12"><i class="bi bi-microsoft-teams"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;L'équipe</span></h2>
<p class="col-12">
    L'ehpad compte 5 salariés à temps complet et 10 intérimaires.
    Des stagiaires sont acceuillies tout au long de l'année pour compléter notre équipe.


</p>
<p class="col-12 d-none d-md-block text-center">
    <img src="{{ asset('asset/img/equipe.jpg')}}" alt="personnel ehpad Discount laval" width="350px" style="border:5px solid black;border-radius:5px">
</p>

<h2 class="col-12"><i class="bi bi-cash-coin"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;Le coût</span></h2>
<p class="col-12">Le cout de la journée est de 500€ par jour.</p>
<h2 class="col-12"><i class="bi bi-geo-fill"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;Nous localiser</span></h2>
<h3 class="col-12">Notre adresse :</h3>
<p class="col-12">
    7, rue des archives <br>
    53 000 Laval
</p>
<p class="col-12 d-none d-md-block text-center">
    <iframe style="border:5px solid black;border-radius:5px" src="https://www.google.com/maps/d/embed?mid=178dEKz9em3cD3xdoPY8L6Vn0DBHQ9lo&ehbc=2E312F" width="640" height="480"></iframe>
</p>
<script>
    clearInterval(interval);
    document.querySelector("#image>img").setAttribute("src", "{{asset('asset/img/ehpad_presentation.jpg')}}");
    document.querySelector("#image>p").style.display = "none"
</script>
{% endblock %}
