{% extends 'base.html.twig' %}

{% block title %}Ehpad{% endblock %}

{% block carroussel %}
    <script src="{{ asset('asset/js/carroussel.js')}}"> </script>
{% endblock %}

{% block main %}
<h1 class="col-12">L'ehpad Discount</h1>

<div class="col-12">
    <h2 class="col-12"><i class="bi bi-house"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;Présentation</span></h2>

    <p class="col-12">
        Située à 10 minutes du centre-ville de Laval, la maison de retraite Discount est proche des commerces de proximité
        et des transports en commun.
    </p>
    <p class="col-12">
        D'architecture moderne, elle dispose d'espaces de vie spacieux
        et de chambres adaptées pour les résidents à mobilité réduite.
        La résidence Discount est accolée au lycée Douanier Rousseau,
        ce qui permet de créer des échanges intergénérationnels deux fois par semaine.
        Ce sont des moments de détente et de partage.

    </p>
    <p class="col-12">Tout au long de l'année, des activités sont programmées (cours d'informatique organisé par les BTS SIO, Activités manuelles, Sorties,...).
    </p>
    <p class="col-12">
        La maison de retraite intègre une unité protégée pour personnes désorientées de 14 places,
        pour accompagner des personnes atteintes de la maladie d'Alzheimer
        et/ou de troubles apparentés.
    </p>
    <p class="col-12">La résidence Discount accueille les personnes âgées autonomes,
        en perte d'autonomie ou dépendantes à la journée, en court séjour ou séjour permanent.
    </p>
    <p class="col-12">
        L'ehpad Discount propose aussi des services pour le maintien à domicile des personnes agées.
    </p>


</div>
{% endblock %}
