{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block main %}
    <style>
        .example-wrapper{ margin: 1em auto; max-width : 800px; width : 95%;
        font: 18px/1.5 sans-serif;}
    </style>
    <form action="{{path('test.index')}}" method="POST">
        <p>
            <input type="text" name="test">    
        </p>
        <p>
            <input type="submit" value="VALIDER">
        </p>
    </form>
{% endblock %}
