{% extends 'base.html.twig' %}

{% block title %}Ehpad Discount: Politique {% endblock %}

{% block main %}
<h1 class="col-12">Politique</h1>

<h2 class="col-12"><i class="bi bi-universal-access-circle"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;Acceptation des conditions d'utilisation</span></h2>

<p class="text-justify col-12">La marque <b>ehpad Discount</b> met à votre disposition sur ce site web des informations, documents, et divers services soumis aux termes et
    conditions présentés dans ce document (les "conditions d'utilisation"). En accédant à ce site, vous en acceptez les conditions
    d'utilisation. La marque <b>ehpad Discount</b> se réserve le droit de modifier les conditions d'utilisation de temps à autre, à sa seule
    discrétion. Votre utilisation du site sera soumise à la version la plus récente des conditions d'utilisation postées sur le site au moment
    de cette utilisation. De plus, lors de l'utilisation des services, vous serez soumis aux éventuelles directives ou règles postées sur le
    site et applicables à ceux-ci, pouvant contenir des termes et conditions qui s'ajoutent aux conditions d'utilisation. Toutes ces
    directives ou règles sont ci-après incluses par référence dans les conditions d'utilisation. Le non-respect de l'une ou l'autre des
    conditions d'utilisation met automatiquement fin à votre autorisation d'utiliser ce site.</p><br>

<h2 class="col-12"><i class="bi bi-door-open-fill"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;Droits d'auteur</span></h2>

<p class="text-justify col-12">Les informations, documents et services de ce site sont protégés par les lois sur les droits d'auteur et/ou la propriété intellectuelle.
    Toute utilisation non-autorisée de ceux-ci peut constituer une violation de ces lois.<br>Sauf disposition explicite dans le présent
    document, aucune partie des informations et documents du site ne peut être reproduite sous quelque forme que ce soit et par quelque moyen
    que ce soit sans l'autorisation écrite préalable de la marque <b>ehpad Discount</b>.</p><br>

<h2 class="col-12"><i class="bi bi-clipboard-data"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;Utilisation des informations du site</span></h2>

<p class="text-justify col-12">Sauf indication contraire à tout autre endroit sur le Site, vous êtes autorisé à consulter, télécharger et imprimer les documents et
    informations disponibles sur ce site aux conditions suivantes :</p>

<ul>
    <li>Les documents ne peuvent être utilisés qu'à titre personnel, pour information, en interne et dans un but non lucratif</li>
    <li>Les documents et informations ne peuvent être modifiés de quelque manière que ce soit</li>
    <li>Les documents et informations du Site ne peuvent être diffusés</li>
    <li>Vous ne devez en aucun cas supprimer les droits d'auteur et autres indications de propriété que contiennent les documents et informations</li>
    <li>La marque <b>ehpad Discount</b> se réserve le droit de supprimer l'autorisation de consulter, télécharger et imprimer les documents et
        informations du site à tout moment. Tout usage des droits susmentionnés doit cesser immédiatement sur avis écrit de la marque <b>ehpad Discount</b></li>
    <li>Les droits qui vous sont accordés constituent une licence et non un transfert de propriété</li>
</ul>

<p class="text-justify col-12">Les droits ci-dessus mentionnés concernant la consultation, le téléchargement et l'impression des documents et informations proposés
    sur le site ne s'appliquent pas à la conception ou la mise en page du site.</p><br>

<h2 class="col-12"><i class="bi bi-rulers"></i>&nbsp; <span style="border-left:2px solid black">&nbsp;Règlement général sur la protection des données</span></h2>

<p class="text-justify col-12">
    La présente page a pour objectif d'informer le patient des traitements de données à caractère personnel réalisés au sein de l'hôpital conformément au Règlement Général sur la Protection des Données (RGPD) Européen et à la loi informatique et liberté.
    <br>Les informations recueillies lors de votre admission puis lors de votre prise en charge sont traitées dans un fichier informatisé par l'ehpad Discount dont le responsable du traitement est Monsieur Le Comte Olaf, directeur de l'établissement.
    <br>Vos données de santé collectées seront communiquées aux professionnels de santé afin d'assurer une prise en charge dans de bonnes conditions. Dans certains cas, ces données pourraient être transmises à des organismes extérieurs à l'établissement.
    <br>Vos données administratives collectées seront communiquées aux services administratifs assurant les services nécessaires à votre bonne prise en charge.
    <br>Vos données de santé seront conservées pendant la durée légale de conservation des données de santé (20 ans). Vos données administratives seront conservées pendant la durée légale de conservation correspondant à chaque donnée également (20 ans).
    <br>Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. Vous pouvez vous opposer au traitement de vos données. Vous pouvez également exercer votre droit à la portabilité de vos données. Enfin, vous pouvez retirer votre consentement à la collecte de vos données.
    <br>L'opposition ou le retrait de consentement au traitement de vos données peut engendrer des difficultés voir des impossibilités lors des missions de soin menées par l'établissement étant donné que la constitution d'un dossier médical est obligatoire afin de vous prendre en charge.
    <br>Consultez le site cnil.fr pour plus d'informations sur vos droits.
    <br>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter notre délégué à la protection des données : dpd@ehpaddiscount.fr
    <br>Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
</p>
{% endblock %}
